<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <listeners>
  	<listener class-name="ArijitSampleSpicejetSeleniumJava.E2EProject.Listeners"/>
  </listeners>
  <test thread-count="5" name="Test1">
    <classes>
      <class name="ArijitSampleSpicejetSeleniumJava.E2EProject.ValidateHomePage"/>
    </classes>
  </test>
  <test thread-count="5" name="Test2">
    <classes>
      <class name="ArijitSampleSpicejetSeleniumJava.E2EProject.ValidateNavigationBar"/>
    </classes>
  </test>
  <test thread-count="5" name="Test3">
    <classes>
      <class name="ArijitSampleSpicejetSeleniumJava.E2EProject.Login"/>
    </classes>
  </test>
  <test thread-count="5" name="Test4">
    <classes>
      <class name="ArijitSampleSpicejetSeleniumJava.E2EProject.ForgotPasswordPage"/>
    </classes>
  </test>
</suite> <!-- Suite -->
